@import "tailwindcss";

@layer base {
  html, body {
    /* bg-slate-950 のカラーコード(#020617)を直接指定 */
    background-color: #020617;
    /* スマホで引っ張った時の白い余白を防止 */
    overscroll-behavior-y: none;
  }
}

@media (max-width: 768px) {
  /* Vercel Toolbarの本体（ツールバーとコメント機能）を非表示にする */
  vercel-live-feedback {
    display: none !important;
  }
  
  /* 新しいバージョンのToolbar用（念のため） */
  #vercel-toolbar {
    display: none !important;
  }
}